USE [master]
GO
/****** Object:  Database [WellmeadowsHospital]    Script Date: 11/10/2567 0:21:07 ******/
CREATE DATABASE [WellmeadowsHospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WellmeadowsHospital_DAT', FILENAME = N'C:\Project73\WellmeadowsHospita.mdf' , SIZE = 8192KB , MAXSIZE = 20480KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WellmeadowsHospital_LOG', FILENAME = N'C:\Project73\WellmeadowsHospita.ldf' , SIZE = 2048KB , MAXSIZE = 5120KB , FILEGROWTH = 1024KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WellmeadowsHospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WellmeadowsHospital]
GO
/****** Object:  Table [dbo].[bed_assign]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bed_assign](
	[date] [date] NULL,
	[p_id] [char](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Has]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Has](
	[start_date] [date] NULL,
	[finish_date] [date] NULL,
	[phar_no] [char](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[In_patients]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[In_patients](
	[p_id] [char](5) NULL,
	[ward_no] [char](5) NOT NULL,
	[expected_stay] [date] NULL,
	[placed_date] [date] NULL,
	[leaved_date] [date] NULL,
	[leaved_actual] [date] NULL,
	[ward_bed_no] [char](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Local_doctor]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Local_doctor](
	[doc_name] [nvarchar](20) NULL,
	[clinic_no] [char](10) NOT NULL,
	[clinic_address] [nvarchar](50) NULL,
	[clinic_tel] [char](10) NULL,
 CONSTRAINT [Clinic_no_PK] PRIMARY KEY CLUSTERED 
(
	[clinic_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_phar]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_phar](
	[phar_no] [char](20) NULL,
	[phar_cost] [int] NULL,
	[phar_quantity] [int] NULL,
	[order_date] [date] NULL,
	[s_id] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_PPE]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_PPE](
	[PPE_no] [char](10) NULL,
	[PPE_cost] [int] NULL,
	[order_date] [date] NULL,
	[s_id] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_sur]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_sur](
	[sur_no] [char](20) NULL,
	[sur_cost] [int] NULL,
	[sur_quantity] [int] NULL,
	[order_date] [date] NULL,
	[s_id] [char](10) NULL,
	[ward_no] [char](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Outpatient_clinic]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outpatient_clinic](
	[outcli_no] [char](10) NOT NULL,
	[outcli_name] [nvarchar](50) NULL,
	[outcli_tel] [char](10) NULL,
	[p_id] [char](5) NULL,
 CONSTRAINT [Outcli_no_PK] PRIMARY KEY CLUSTERED 
(
	[outcli_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Outpatients]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outpatients](
	[p_id] [char](5) NULL,
	[outcli_no] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_medication]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_medication](
	[p_id] [char](5) NOT NULL,
	[p_firstname] [nvarchar](20) NULL,
	[p_lastname] [nvarchar](20) NULL,
	[phar_name] [nvarchar](20) NULL,
	[phar_no] [char](20) NOT NULL,
	[units_perday] [char](3) NULL,
	[method_ad] [nvarchar](150) NULL,
	[ward_no] [char](5) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[p_id] [char](5) NOT NULL,
	[p_firstname] [nvarchar](20) NULL,
	[p_lastname] [nvarchar](20) NULL,
	[p_address] [nvarchar](50) NULL,
	[p_tel] [char](10) NULL,
	[p_dob] [date] NULL,
	[p_sex] [nvarchar](10) NULL,
	[p_marital] [nvarchar](10) NULL,
	[p_reg_date] [date] NULL,
	[clinic_no] [char](10) NULL,
 CONSTRAINT [P_Id_PK] PRIMARY KEY CLUSTERED 
(
	[p_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients_appointments]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients_appointments](
	[app_no] [char](5) NOT NULL,
	[p_id] [char](5) NOT NULL,
	[ward_no] [char](5) NULL,
	[app_date] [date] NULL,
	[app_time] [time](7) NULL,
	[app_examination] [nvarchar](100) NULL,
 CONSTRAINT [App_no_PK] PRIMARY KEY CLUSTERED 
(
	[app_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients_next_of_kin]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients_next_of_kin](
	[pnextkin_name] [nvarchar](20) NOT NULL,
	[pnextkin_relationship] [nvarchar](20) NULL,
	[pnextkin_address] [nvarchar](50) NULL,
	[pnextkin_tel] [char](10) NULL,
	[p_id] [char](5) NULL,
 CONSTRAINT [Patiens_next_of_kin_PK] PRIMARY KEY CLUSTERED 
(
	[pnextkin_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pharmaceutical_Supplies]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pharmaceutical_Supplies](
	[phar_no] [char](20) NOT NULL,
	[phar_name] [nvarchar](20) NULL,
	[phar_describtion] [nvarchar](200) NULL,
	[phar_dosage] [nvarchar](150) NULL,
	[sup_id] [char](10) NULL,
 CONSTRAINT [Phar_no_PK] PRIMARY KEY CLUSTERED 
(
	[phar_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PPE_supplies]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PPE_supplies](
	[PPE_no] [char](10) NOT NULL,
	[PPE_describtion] [nvarchar](200) NULL,
	[PPE_name] [nvarchar](25) NULL,
 CONSTRAINT [PPE_no_PK] PRIMARY KEY CLUSTERED 
(
	[PPE_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualifications]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualifications](
	[s_id] [char](10) NULL,
	[qua_type] [nvarchar](50) NULL,
	[date_qualifications] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[s_id] [char](10) NOT NULL,
	[s_firstname] [nvarchar](20) NULL,
	[s_lastname] [nvarchar](20) NULL,
	[s_address] [nvarchar](50) NULL,
	[s_tel] [char](10) NULL,
	[s_dob] [date] NULL,
	[s_sex] [nvarchar](10) NULL,
	[s_nin] [char](13) NULL,
	[s_position] [nvarchar](20) NULL,
	[s_salary] [int] NULL,
	[s_salaryscale] [char](20) NULL,
	[s_ward_no] [nvarchar](3) NULL,
	[s_payroll] [char](20) NULL,
	[s_hire] [char](20) NULL,
 CONSTRAINT [S_Id_PK] PRIMARY KEY CLUSTERED 
(
	[s_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff_Allocation]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff_Allocation](
	[s_id] [char](10) NULL,
	[ward_no] [char](5) NULL,
	[week_date] [date] NULL,
	[shift] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[sup_name] [nvarchar](20) NULL,
	[sup_id] [char](10) NOT NULL,
	[sup_address] [nvarchar](50) NULL,
	[sup_tel] [char](10) NULL,
	[fax] [char](11) NULL,
 CONSTRAINT [Sup_Id_PK] PRIMARY KEY CLUSTERED 
(
	[sup_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Surgical_and_non_sergical_supplies]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surgical_and_non_sergical_supplies](
	[sur_no] [char](20) NOT NULL,
	[sur_name] [nvarchar](30) NULL,
	[sur_describtion] [nvarchar](250) NULL,
	[sup_id] [char](10) NULL,
 CONSTRAINT [Sur_no_PK] PRIMARY KEY CLUSTERED 
(
	[sur_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ward_requisitions]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ward_requisitions](
	[phar_no] [char](20) NULL,
	[sur_no] [char](20) NULL,
	[ward_no] [char](5) NULL,
	[ward_name] [nvarchar](50) NULL,
	[sup_id] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wards]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wards](
	[ward_no] [char](5) NOT NULL,
	[ward_name] [nvarchar](50) NULL,
	[ward_location] [nvarchar](50) NULL,
	[ward_bed_no] [nvarchar](3) NULL,
	[ward_tel] [char](10) NULL,
 CONSTRAINT [Ward_no_PK] PRIMARY KEY CLUSTERED 
(
	[ward_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Work_Experience]    Script Date: 11/10/2567 0:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work_Experience](
	[s_id] [char](10) NULL,
	[name_organization] [nvarchar](50) NULL,
	[start_date] [date] NULL,
	[finish_date] [date] NULL,
	[position_detail] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[bed_assign] ([date], [p_id]) VALUES (CAST(N'2024-08-27' AS Date), N'B01  ')
INSERT [dbo].[bed_assign] ([date], [p_id]) VALUES (CAST(N'2024-01-07' AS Date), N'B02  ')
INSERT [dbo].[bed_assign] ([date], [p_id]) VALUES (CAST(N'2024-05-22' AS Date), N'B03  ')
GO
INSERT [dbo].[Has] ([start_date], [finish_date], [phar_no]) VALUES (CAST(N'1900-01-01' AS Date), CAST(N'1900-01-01' AS Date), N'NDC 67890-1234      ')
INSERT [dbo].[Has] ([start_date], [finish_date], [phar_no]) VALUES (CAST(N'2567-06-21' AS Date), CAST(N'2567-07-21' AS Date), N'NDC 44332-2211      ')
INSERT [dbo].[Has] ([start_date], [finish_date], [phar_no]) VALUES (CAST(N'2024-01-07' AS Date), CAST(N'2024-02-07' AS Date), N'NDC 24680-1357      ')
GO
INSERT [dbo].[In_patients] ([p_id], [ward_no], [expected_stay], [placed_date], [leaved_date], [leaved_actual], [ward_bed_no]) VALUES (N'B03  ', N'E03  ', CAST(N'2024-05-23' AS Date), CAST(N'2024-05-23' AS Date), CAST(N'2024-06-23' AS Date), CAST(N'2024-06-23' AS Date), N'C03')
INSERT [dbo].[In_patients] ([p_id], [ward_no], [expected_stay], [placed_date], [leaved_date], [leaved_actual], [ward_bed_no]) VALUES (N'B04  ', N'E04  ', CAST(N'2024-06-24' AS Date), CAST(N'2024-05-24' AS Date), CAST(N'2024-06-24' AS Date), CAST(N'2024-06-24' AS Date), N'C04')
INSERT [dbo].[In_patients] ([p_id], [ward_no], [expected_stay], [placed_date], [leaved_date], [leaved_actual], [ward_bed_no]) VALUES (N'B05  ', N'E05  ', CAST(N'2024-01-21' AS Date), CAST(N'2024-01-21' AS Date), CAST(N'2024-02-21' AS Date), CAST(N'2024-02-21' AS Date), N'C05')
GO
INSERT [dbo].[Local_doctor] ([doc_name], [clinic_no], [clinic_address], [clinic_tel]) VALUES (N'David Cook', N'061       ', N'2325 Khon Buri Chai, NakhonRatchasima,TH', N'545452    ')
INSERT [dbo].[Local_doctor] ([doc_name], [clinic_no], [clinic_address], [clinic_tel]) VALUES (N'Carter Hughes', N'071       ', N'1333 Chum Phuang Chai, Nakhon Ratchasima,TH', N'525256    ')
INSERT [dbo].[Local_doctor] ([doc_name], [clinic_no], [clinic_address], [clinic_tel]) VALUES (N'Layla Foster', N'081       ', N'1444 Phimai Chai, NakhonRatchasima,TH', N'656578    ')
GO
INSERT [dbo].[Order_phar] ([phar_no], [phar_cost], [phar_quantity], [order_date], [s_id]) VALUES (N'NDC 98765-4321      ', 100000, 30, CAST(N'2024-08-30' AS Date), N'01        ')
INSERT [dbo].[Order_phar] ([phar_no], [phar_cost], [phar_quantity], [order_date], [s_id]) VALUES (N'NDC 24680-1357      ', 100000, 30, CAST(N'2024-01-10' AS Date), N'02        ')
INSERT [dbo].[Order_phar] ([phar_no], [phar_cost], [phar_quantity], [order_date], [s_id]) VALUES (N'NDC 11223-4455      ', 100000, 90, CAST(N'2024-05-25' AS Date), N'03        ')
GO
INSERT [dbo].[Order_PPE] ([PPE_no], [PPE_cost], [order_date], [s_id]) VALUES (N'PPE 001   ', 100000, CAST(N'2024-08-30' AS Date), N'01        ')
INSERT [dbo].[Order_PPE] ([PPE_no], [PPE_cost], [order_date], [s_id]) VALUES (N'PPE 002   ', 100000, CAST(N'2024-01-10' AS Date), N'02        ')
INSERT [dbo].[Order_PPE] ([PPE_no], [PPE_cost], [order_date], [s_id]) VALUES (N'PPE 003   ', 100000, CAST(N'2024-05-25' AS Date), N'03        ')
GO
INSERT [dbo].[Order_sur] ([sur_no], [sur_cost], [sur_quantity], [order_date], [s_id], [ward_no]) VALUES (N'MDN 00123-4567      ', 100000, 10, CAST(N'2024-08-30' AS Date), N'01        ', N'E01  ')
INSERT [dbo].[Order_sur] ([sur_no], [sur_cost], [sur_quantity], [order_date], [s_id], [ward_no]) VALUES (N'MDN 00234-5678      ', 100000, 5, CAST(N'2024-01-10' AS Date), N'02        ', N'E02  ')
INSERT [dbo].[Order_sur] ([sur_no], [sur_cost], [sur_quantity], [order_date], [s_id], [ward_no]) VALUES (N'MDN 00345-6789      ', 100000, 20, CAST(N'2024-05-25' AS Date), N'03        ', N'E03  ')
GO
INSERT [dbo].[Outpatient_clinic] ([outcli_no], [outcli_name], [outcli_tel], [p_id]) VALUES (N'E06       ', N'General Clinic', N'67689     ', N'B06  ')
INSERT [dbo].[Outpatient_clinic] ([outcli_no], [outcli_name], [outcli_tel], [p_id]) VALUES (N'E07       ', N'Cardiology Clinic', N'35546     ', N'B07  ')
INSERT [dbo].[Outpatient_clinic] ([outcli_no], [outcli_name], [outcli_tel], [p_id]) VALUES (N'E08       ', N'Pulmonology Clinic', N'52525     ', N'B08  ')
GO
INSERT [dbo].[Outpatients] ([p_id], [outcli_no]) VALUES (N'B06  ', N'E06       ')
INSERT [dbo].[Outpatients] ([p_id], [outcli_no]) VALUES (N'B07  ', N'E07       ')
INSERT [dbo].[Outpatients] ([p_id], [outcli_no]) VALUES (N'B08  ', N'E08       ')
GO
INSERT [dbo].[Patient_medication] ([p_id], [p_firstname], [p_lastname], [phar_name], [phar_no], [units_perday], [method_ad], [ward_no]) VALUES (N'B03  ', N'Michael', N'Brown', N'Metformin', N'NDC 11223-4455      ', N'1  ', N'do not crush or chew', N'E03  ')
INSERT [dbo].[Patient_medication] ([p_id], [p_firstname], [p_lastname], [phar_name], [phar_no], [units_perday], [method_ad], [ward_no]) VALUES (N'B06  ', N'Grace', N'Mitchell', N'Albuterol Inhaler', N'NDC 33445-6678      ', N'3  ', N'Avoid grapefruit juice during treatment.', N'E06  ')
INSERT [dbo].[Patient_medication] ([p_id], [p_firstname], [p_lastname], [phar_name], [phar_no], [units_perday], [method_ad], [ward_no]) VALUES (N'B07  ', N'Samuel', N'Perez', N'Omeprazole', N'NDC 55667-8899      ', N'3  ', N'Take 20 mg orally once daily before breakfast. Swallow the capsule whole, do not crush or chew.', N'E07  ')
GO
INSERT [dbo].[Patients] ([p_id], [p_firstname], [p_lastname], [p_address], [p_tel], [p_dob], [p_sex], [p_marital], [p_reg_date], [clinic_no]) VALUES (N'B01  ', N'John', N'Smith', N'123 Suranarai Rd. Pak Chong, NakhonRatchasima,TH', N'123-4567  ', CAST(N'1987-08-06' AS Date), N'Male', N'Single', CAST(N'2024-08-26' AS Date), N'061       ')
INSERT [dbo].[Patients] ([p_id], [p_firstname], [p_lastname], [p_address], [p_tel], [p_dob], [p_sex], [p_marital], [p_reg_date], [clinic_no]) VALUES (N'B02  ', N'Emily', N'Johnson', N'456 Pak Chong, NakhonRatchasima,TH', N'234-5678  ', CAST(N'1999-09-23' AS Date), N'Female', N'Marriage', CAST(N'2024-01-06' AS Date), N'071       ')
INSERT [dbo].[Patients] ([p_id], [p_firstname], [p_lastname], [p_address], [p_tel], [p_dob], [p_sex], [p_marital], [p_reg_date], [clinic_no]) VALUES (N'B03  ', N'Michael', N'Brown', N'564 Khok Kruat, NakhonRatchasima,TH', N'345-6789  ', CAST(N'2000-01-30' AS Date), N'Male', N'Marriage', CAST(N'2024-05-21' AS Date), N'081       ')
GO
INSERT [dbo].[Patients_appointments] ([app_no], [p_id], [ward_no], [app_date], [app_time], [app_examination]) VALUES (N'13256', N'B10  ', N'E10  ', CAST(N'2024-05-23' AS Date), CAST(N'20:00:00' AS Time), N'Specialized Examination')
INSERT [dbo].[Patients_appointments] ([app_no], [p_id], [ward_no], [app_date], [app_time], [app_examination]) VALUES (N'24356', N'B03  ', N'E03  ', CAST(N'2024-05-22' AS Date), CAST(N'14:00:00' AS Time), N'Specialized Examination')
INSERT [dbo].[Patients_appointments] ([app_no], [p_id], [ward_no], [app_date], [app_time], [app_examination]) VALUES (N'45251', N'B08  ', N'E08  ', CAST(N'2024-05-23' AS Date), CAST(N'18:00:00' AS Time), N'Specialized Examination')
GO
INSERT [dbo].[Patients_next_of_kin] ([pnextkin_name], [pnextkin_relationship], [pnextkin_address], [pnextkin_tel], [p_id]) VALUES (N'Ava Brown', N'Wife', N'564 Khok Kruat, Nakhon Ratchasima,TH', N'212-6789  ', N'B03  ')
INSERT [dbo].[Patients_next_of_kin] ([pnextkin_name], [pnextkin_relationship], [pnextkin_address], [pnextkin_tel], [p_id]) VALUES (N'Chloe Mitchells', N'Father', N'980 Sida, NakhonRatchasima,TH', N'323-4355  ', N'B09  ')
INSERT [dbo].[Patients_next_of_kin] ([pnextkin_name], [pnextkin_relationship], [pnextkin_address], [pnextkin_tel], [p_id]) VALUES (N'Christopher Perez', N'Brother', N'5554 Mueang Yang, Nakhon Ratchasima,TH', N'774-4342  ', N'B07  ')
GO
INSERT [dbo].[Pharmaceutical_Supplies] ([phar_no], [phar_name], [phar_describtion], [phar_dosage], [sup_id]) VALUES (N'NDC 11223-4455      ', N'Metformin', N'Metformin is an oral diabetes medicine that helps control blood sugar levels and is used for the treatment of type 2 diabetes.', N'500 mg orally twice daily with meals. The dose can be adjusted based on blood glucose levels.', N'S03       ')
INSERT [dbo].[Pharmaceutical_Supplies] ([phar_no], [phar_name], [phar_describtion], [phar_dosage], [sup_id]) VALUES (N'NDC 24680-1357      ', N'Ibuprofen', N'Ibuprofen is a nonsteroidal anti-inflammatory drug (NSAID) used to reduce fever, pain, and inflammation from conditions like headaches, toothaches, arthritis, menstrual cramps, or minor injuries.', N'200 mg to 400 mg orally every 4 to 6 hours as needed. Maximum 1200 mg', N'S02       ')
INSERT [dbo].[Pharmaceutical_Supplies] ([phar_no], [phar_name], [phar_describtion], [phar_dosage], [sup_id]) VALUES (N'NDC 33445-6677      ', N'Atorvastatin', N'Atorvastatin is a statin used to lower cholesterol and triglycerides in the blood, and to reduce the risk of heart attack, stroke, and related health conditions.', N'20 mg orally once daily in the evening, with adjustments made based on cholesterol levels.', N'S05       ')
GO
INSERT [dbo].[PPE_supplies] ([PPE_no], [PPE_describtion], [PPE_name]) VALUES (N'PPE 001   ', N'Wear the mask over the nose and mouth. Ensure a snug fit around the edges to prevent air leaks. Replace the mask if it becomes damaged or soiled.', N'N95 Respirator')
INSERT [dbo].[PPE_supplies] ([PPE_no], [PPE_describtion], [PPE_name]) VALUES (N'PPE 002   ', N'Wear gloves before handling hazardous materials or when there is a risk of contamination. Dispose of gloves after use and wash hands thoroughly.', N'Disposable Gloves')
INSERT [dbo].[PPE_supplies] ([PPE_no], [PPE_describtion], [PPE_name]) VALUES (N'PPE 003   ', N'Position the shield over your face, ensuring it covers your forehead and extends below your chin. Adjust the straps for a comfortable and secure fit.', N'Face Shield')
GO
INSERT [dbo].[Qualifications] ([s_id], [qua_type], [date_qualifications]) VALUES (N'01        ', N'Bachelor of Surgery (MBBS)', CAST(N'2004-06-23' AS Date))
INSERT [dbo].[Qualifications] ([s_id], [qua_type], [date_qualifications]) VALUES (N'02        ', N'Bachelor of Science inNursing (BSN)', CAST(N'2015-10-09' AS Date))
INSERT [dbo].[Qualifications] ([s_id], [qua_type], [date_qualifications]) VALUES (N'03        ', N'Bachelor of Surgery (MBBS)', CAST(N'2011-11-12' AS Date))
GO
INSERT [dbo].[Staff] ([s_id], [s_firstname], [s_lastname], [s_address], [s_tel], [s_dob], [s_sex], [s_nin], [s_position], [s_salary], [s_salaryscale], [s_ward_no], [s_payroll], [s_hire]) VALUES (N'01        ', N'John', N'Jones', N'672Suranarai Rd.SungNoen,NakhonRatchasima,TH', N'143-4867  ', CAST(N'1980-09-26' AS Date), N'Male', N'123456789    ', N'Doctor', 800000, N'600000 - 1000000    ', N'E01', N'SalariedPay         ', N'PermanentContract   ')
INSERT [dbo].[Staff] ([s_id], [s_firstname], [s_lastname], [s_address], [s_tel], [s_dob], [s_sex], [s_nin], [s_position], [s_salary], [s_salaryscale], [s_ward_no], [s_payroll], [s_hire]) VALUES (N'02        ', N'Emily', N'Williams', N'561Mittraphap Rd.Khong,NakhonRatchasima,TH', N'894-8712  ', CAST(N'1991-11-03' AS Date), N'Female', N'987654321    ', N'Nurse', 750000, N'600000 - 1000000    ', N'E02', N'SalariedPay         ', N'PermanentContract   ')
INSERT [dbo].[Staff] ([s_id], [s_firstname], [s_lastname], [s_address], [s_tel], [s_dob], [s_sex], [s_nin], [s_position], [s_salary], [s_salaryscale], [s_ward_no], [s_payroll], [s_hire]) VALUES (N'03        ', N'Alek', N'Johnson', N'900Mittraphap Rd.NonThai,NakhonRatchasima,TH', N'678-0921  ', CAST(N'1987-12-09' AS Date), N'Male', N'756822348    ', N'Doctor', 800000, N'600000 - 1000000    ', N'E03', N'SalariedPay         ', N'PermanentContract   ')
GO
INSERT [dbo].[Staff_Allocation] ([s_id], [ward_no], [week_date], [shift]) VALUES (N'01        ', N'E01  ', CAST(N'2024-08-27' AS Date), N'Day Shift')
INSERT [dbo].[Staff_Allocation] ([s_id], [ward_no], [week_date], [shift]) VALUES (N'02        ', N'E02  ', CAST(N'2024-01-07' AS Date), N'Day Shift')
INSERT [dbo].[Staff_Allocation] ([s_id], [ward_no], [week_date], [shift]) VALUES (N'09        ', N'E05  ', CAST(N'2024-12-16' AS Date), N'Day Shift')
GO
INSERT [dbo].[Suppliers] ([sup_name], [sup_id], [sup_address], [sup_tel], [fax]) VALUES (N'Anthony Murphy', N'S01       ', N'7608 Kham Sakaesaeng,Nakhon Ratchasima,TH', N'3434-45552', N'02 123 4567')
INSERT [dbo].[Suppliers] ([sup_name], [sup_id], [sup_address], [sup_tel], [fax]) VALUES (N'Layla Nguyen', N'S02       ', N'1411 Kham Sakaesaeng, Ratchasima,TH', N'5452-24672', N'02 435 5425')
INSERT [dbo].[Suppliers] ([sup_name], [sup_id], [sup_address], [sup_tel], [fax]) VALUES (N'Ryan Peterson', N'S03       ', N'8674 Phimai, Nakhon Ratchasima,TH', N'4622-94757', N'02 355 5235')
GO
INSERT [dbo].[Surgical_and_non_sergical_supplies] ([sur_no], [sur_name], [sur_describtion], [sup_id]) VALUES (N'MDN 00123-4567      ', N'Blood Pressure Monitor', N'A digital blood pressure monitor used to measure systolic and diastolic blood pressure along with heart rate. It features an easy-to-read LCD display and memory storage for multiple users.', N'S01       ')
INSERT [dbo].[Surgical_and_non_sergical_supplies] ([sur_no], [sur_name], [sur_describtion], [sup_id]) VALUES (N'MDN 00234-5678      ', N'Pulse Oximeter', N'A fingertip pulse oximeter that measures oxygen saturation (SpO2) and pulse rate. It is portable, battery-operated, and provides quick readings with a clear LED display.', N'S02       ')
INSERT [dbo].[Surgical_and_non_sergical_supplies] ([sur_no], [sur_name], [sur_describtion], [sup_id]) VALUES (N'MDN 00345-6789      ', N'Thermometer (Infrared)', N'A non-contact infrared thermometer used for measuring body temperature quickly and accurately. Suitable for all ages, it provides instant readings and has a fever alert function', N'S03       ')
GO
INSERT [dbo].[Ward_requisitions] ([phar_no], [sur_no], [ward_no], [ward_name], [sup_id]) VALUES (N'NDC 98765-4321      ', N'MDN 00123-4567      ', N'E01  ', N'Medical Ward', N'S01       ')
INSERT [dbo].[Ward_requisitions] ([phar_no], [sur_no], [ward_no], [ward_name], [sup_id]) VALUES (N'NDC 24680-1357      ', N'MDN 00234-5678      ', N'E02  ', N'Surgical Ward', N'S02       ')
INSERT [dbo].[Ward_requisitions] ([phar_no], [sur_no], [ward_no], [ward_name], [sup_id]) VALUES (N'NDC 11223-4455      ', N'MDN 00345-6789      ', N'E03  ', N'Orthopedic Ward', N'S03       ')
GO
INSERT [dbo].[Wards] ([ward_no], [ward_name], [ward_location], [ward_bed_no], [ward_tel]) VALUES (N'E01  ', N'Medical Ward', N'อาคาร 1 ชั้น 2', N'01', N'12345     ')
INSERT [dbo].[Wards] ([ward_no], [ward_name], [ward_location], [ward_bed_no], [ward_tel]) VALUES (N'E02  ', N'Surgical Ward', N'อาคาร 1 ชั้น 3', N'02', N'34213     ')
INSERT [dbo].[Wards] ([ward_no], [ward_name], [ward_location], [ward_bed_no], [ward_tel]) VALUES (N'E03  ', N'Orthopedic Ward', N'อาคาร 1 ชั้น 1', N'03', N'45321     ')
GO
INSERT [dbo].[Work_Experience] ([s_id], [name_organization], [start_date], [finish_date], [position_detail]) VALUES (N'01        ', N'Brightview Medical Center', CAST(N'2004-06-23' AS Date), CAST(N'2018-06-23' AS Date), N'AttendingPhysician')
INSERT [dbo].[Work_Experience] ([s_id], [name_organization], [start_date], [finish_date], [position_detail]) VALUES (N'02        ', N'Harmony HealthClinic', CAST(N'2015-10-09' AS Date), CAST(N'2020-10-09' AS Date), N'Registered Nurse (RN)')
INSERT [dbo].[Work_Experience] ([s_id], [name_organization], [start_date], [finish_date], [position_detail]) VALUES (N'03        ', N'Silver Lake Hospital', CAST(N'2011-11-12' AS Date), CAST(N'2019-11-12' AS Date), N'Attending Physician')
GO
ALTER TABLE [dbo].[bed_assign]  WITH CHECK ADD  CONSTRAINT [p_ID_bedassign_FK] FOREIGN KEY([p_id])
REFERENCES [dbo].[Patients] ([p_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bed_assign] CHECK CONSTRAINT [p_ID_bedassign_FK]
GO
ALTER TABLE [dbo].[Has]  WITH CHECK ADD  CONSTRAINT [Phar_no_Has_FK] FOREIGN KEY([phar_no])
REFERENCES [dbo].[Pharmaceutical_Supplies] ([phar_no])
GO
ALTER TABLE [dbo].[Has] CHECK CONSTRAINT [Phar_no_Has_FK]
GO
ALTER TABLE [dbo].[In_patients]  WITH CHECK ADD  CONSTRAINT [P_ID_inpa_FK] FOREIGN KEY([p_id])
REFERENCES [dbo].[Patients] ([p_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[In_patients] CHECK CONSTRAINT [P_ID_inpa_FK]
GO
ALTER TABLE [dbo].[In_patients]  WITH CHECK ADD  CONSTRAINT [Ward_no_inpa_FK] FOREIGN KEY([ward_no])
REFERENCES [dbo].[Wards] ([ward_no])
GO
ALTER TABLE [dbo].[In_patients] CHECK CONSTRAINT [Ward_no_inpa_FK]
GO
ALTER TABLE [dbo].[Order_phar]  WITH CHECK ADD  CONSTRAINT [phar_no_orderphar_FK] FOREIGN KEY([phar_no])
REFERENCES [dbo].[Pharmaceutical_Supplies] ([phar_no])
GO
ALTER TABLE [dbo].[Order_phar] CHECK CONSTRAINT [phar_no_orderphar_FK]
GO
ALTER TABLE [dbo].[Order_phar]  WITH CHECK ADD  CONSTRAINT [S_ID_orderphar_FK] FOREIGN KEY([s_id])
REFERENCES [dbo].[Staff] ([s_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_phar] CHECK CONSTRAINT [S_ID_orderphar_FK]
GO
ALTER TABLE [dbo].[Order_PPE]  WITH CHECK ADD  CONSTRAINT [ppe_no_OrderPPEr_FK] FOREIGN KEY([PPE_no])
REFERENCES [dbo].[PPE_supplies] ([PPE_no])
GO
ALTER TABLE [dbo].[Order_PPE] CHECK CONSTRAINT [ppe_no_OrderPPEr_FK]
GO
ALTER TABLE [dbo].[Order_PPE]  WITH CHECK ADD  CONSTRAINT [S_ID_rderPPEr_FK] FOREIGN KEY([s_id])
REFERENCES [dbo].[Staff] ([s_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_PPE] CHECK CONSTRAINT [S_ID_rderPPEr_FK]
GO
ALTER TABLE [dbo].[Order_sur]  WITH CHECK ADD  CONSTRAINT [S_ID_ordersur_FK] FOREIGN KEY([s_id])
REFERENCES [dbo].[Staff] ([s_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_sur] CHECK CONSTRAINT [S_ID_ordersur_FK]
GO
ALTER TABLE [dbo].[Order_sur]  WITH CHECK ADD  CONSTRAINT [Sur_no_ordersur_FK] FOREIGN KEY([sur_no])
REFERENCES [dbo].[Surgical_and_non_sergical_supplies] ([sur_no])
GO
ALTER TABLE [dbo].[Order_sur] CHECK CONSTRAINT [Sur_no_ordersur_FK]
GO
ALTER TABLE [dbo].[Outpatient_clinic]  WITH CHECK ADD  CONSTRAINT [Patien_ID_FK] FOREIGN KEY([p_id])
REFERENCES [dbo].[Patients] ([p_id])
GO
ALTER TABLE [dbo].[Outpatient_clinic] CHECK CONSTRAINT [Patien_ID_FK]
GO
ALTER TABLE [dbo].[Outpatients]  WITH CHECK ADD  CONSTRAINT [outcli_no_Outpa_FK] FOREIGN KEY([outcli_no])
REFERENCES [dbo].[Outpatient_clinic] ([outcli_no])
GO
ALTER TABLE [dbo].[Outpatients] CHECK CONSTRAINT [outcli_no_Outpa_FK]
GO
ALTER TABLE [dbo].[Outpatients]  WITH CHECK ADD  CONSTRAINT [p_id_Outpa_FK] FOREIGN KEY([p_id])
REFERENCES [dbo].[Patients] ([p_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Outpatients] CHECK CONSTRAINT [p_id_Outpa_FK]
GO
ALTER TABLE [dbo].[Patient_medication]  WITH CHECK ADD  CONSTRAINT [p_FK] FOREIGN KEY([p_id])
REFERENCES [dbo].[Patients] ([p_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Patient_medication] CHECK CONSTRAINT [p_FK]
GO
ALTER TABLE [dbo].[Patient_medication]  WITH CHECK ADD  CONSTRAINT [Pharma_sup_FK] FOREIGN KEY([phar_no])
REFERENCES [dbo].[Pharmaceutical_Supplies] ([phar_no])
GO
ALTER TABLE [dbo].[Patient_medication] CHECK CONSTRAINT [Pharma_sup_FK]
GO
ALTER TABLE [dbo].[Patient_medication]  WITH CHECK ADD  CONSTRAINT [Wards_no_FK] FOREIGN KEY([ward_no])
REFERENCES [dbo].[Wards] ([ward_no])
GO
ALTER TABLE [dbo].[Patient_medication] CHECK CONSTRAINT [Wards_no_FK]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [Clinic_no_FK] FOREIGN KEY([clinic_no])
REFERENCES [dbo].[Local_doctor] ([clinic_no])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [Clinic_no_FK]
GO
ALTER TABLE [dbo].[Patients_appointments]  WITH CHECK ADD  CONSTRAINT [PT_id_FK] FOREIGN KEY([p_id])
REFERENCES [dbo].[Patients] ([p_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Patients_appointments] CHECK CONSTRAINT [PT_id_FK]
GO
ALTER TABLE [dbo].[Patients_appointments]  WITH CHECK ADD  CONSTRAINT [Ward_no_FK] FOREIGN KEY([ward_no])
REFERENCES [dbo].[Wards] ([ward_no])
GO
ALTER TABLE [dbo].[Patients_appointments] CHECK CONSTRAINT [Ward_no_FK]
GO
ALTER TABLE [dbo].[Patients_next_of_kin]  WITH CHECK ADD  CONSTRAINT [P_Id_FK] FOREIGN KEY([p_id])
REFERENCES [dbo].[Patients] ([p_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Patients_next_of_kin] CHECK CONSTRAINT [P_Id_FK]
GO
ALTER TABLE [dbo].[Pharmaceutical_Supplies]  WITH CHECK ADD  CONSTRAINT [Sup_Id_FK] FOREIGN KEY([sup_id])
REFERENCES [dbo].[Suppliers] ([sup_id])
GO
ALTER TABLE [dbo].[Pharmaceutical_Supplies] CHECK CONSTRAINT [Sup_Id_FK]
GO
ALTER TABLE [dbo].[Staff_Allocation]  WITH CHECK ADD  CONSTRAINT [s_ID_FK] FOREIGN KEY([s_id])
REFERENCES [dbo].[Staff] ([s_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff_Allocation] CHECK CONSTRAINT [s_ID_FK]
GO
ALTER TABLE [dbo].[Staff_Allocation]  WITH CHECK ADD  CONSTRAINT [wardno_FK] FOREIGN KEY([ward_no])
REFERENCES [dbo].[Wards] ([ward_no])
GO
ALTER TABLE [dbo].[Staff_Allocation] CHECK CONSTRAINT [wardno_FK]
GO
ALTER TABLE [dbo].[Surgical_and_non_sergical_supplies]  WITH CHECK ADD  CONSTRAINT [Suplier_Id_FK] FOREIGN KEY([sup_id])
REFERENCES [dbo].[Suppliers] ([sup_id])
GO
ALTER TABLE [dbo].[Surgical_and_non_sergical_supplies] CHECK CONSTRAINT [Suplier_Id_FK]
GO
ALTER TABLE [dbo].[Ward_requisitions]  WITH CHECK ADD  CONSTRAINT [Phar_no_wardrequis_FK] FOREIGN KEY([phar_no])
REFERENCES [dbo].[Pharmaceutical_Supplies] ([phar_no])
GO
ALTER TABLE [dbo].[Ward_requisitions] CHECK CONSTRAINT [Phar_no_wardrequis_FK]
GO
ALTER TABLE [dbo].[Ward_requisitions]  WITH CHECK ADD  CONSTRAINT [Sup_ID_wardrequis_FK] FOREIGN KEY([sup_id])
REFERENCES [dbo].[Suppliers] ([sup_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ward_requisitions] CHECK CONSTRAINT [Sup_ID_wardrequis_FK]
GO
ALTER TABLE [dbo].[Ward_requisitions]  WITH CHECK ADD  CONSTRAINT [Sur_No_wardrequis_FK] FOREIGN KEY([sur_no])
REFERENCES [dbo].[Surgical_and_non_sergical_supplies] ([sur_no])
GO
ALTER TABLE [dbo].[Ward_requisitions] CHECK CONSTRAINT [Sur_No_wardrequis_FK]
GO
ALTER TABLE [dbo].[Ward_requisitions]  WITH CHECK ADD  CONSTRAINT [Ward_no_wardrequi_FK] FOREIGN KEY([ward_no])
REFERENCES [dbo].[Wards] ([ward_no])
GO
ALTER TABLE [dbo].[Ward_requisitions] CHECK CONSTRAINT [Ward_no_wardrequi_FK]
GO
ALTER TABLE [dbo].[Work_Experience]  WITH CHECK ADD  CONSTRAINT [S_ID_Work_Exp_FK] FOREIGN KEY([s_id])
REFERENCES [dbo].[Staff] ([s_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Work_Experience] CHECK CONSTRAINT [S_ID_Work_Exp_FK]
GO
USE [master]
GO
